.orders-table{
    border: 1px double green;
}
.orders-table tr{
    border: 1px double #c8ff00;
}

.orders-table th{
    padding: 5px 10px;
}
.orders-table td{
    padding: 0px 10px;
}

.add_order{
    margin-top: 100px;
}

.add_order__button{
    font-size: 20px;
    border: 3px dashed yellow;
    background-color: inherit;
    color:#1ab1cc;
    padding: 10px 20px;
}
.add_order__button:hover{
    cursor: pointer;
}

.td__button:first-child{
    margin-right: 30px;
}


/* The Modal (background) */
.modal {
    color:black;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  .btn-success {
    margin-left: 15px;
  }

  .btn-warning {
    float:right;
    margin-top: 30px;
  }